## Preliminary EDA (Exploratory Data Analysis)
Imagine you are a data scientist at a real estate company. Your task is to analyze Atlanta's real estate data. Start by inspecting the dataset *real_estate_ga.csv*, which contains property information from 2021. Familiarize yourself with its structure and contents before proceeding with EDA.

**Requirements:**

- Please use [pandas.DataFrame](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) to manipulate data.

- Please follow the python code style (https://www.python.org/dev/peps/pep-0008/). If TA finds your code hard to read, you will lose points. This requirement will stay for the whole semester.

In [1]:
import numpy as np
import pandas as pd

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

#### 1. First, load the data as a DataFrame. 
*You don't need to do anything for this task as it has already been completed. Simply run cells.*

In [2]:
df = pd.read_csv("real_estate_ga.csv")

#### 2. Display the first 4 rows of the DataFrame `df`.

In [41]:
df.head(4)

,Unnamed: 0,id,stateId,countyId,cityId,country,datePostedString,is_bankOwned,is_forAuction,event,time,price,pricePerSquareFoot,city,state,yearBuilt,streetAddress,zipcode,longitude,latitude,hasBadGeocode,description,currency,livingArea,livingAreaValue,lotAreaUnits,bathrooms,bedrooms,buildingArea,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,0,31503-110785431,16,17,55064,USA,2021-07-12,0,0,Listed for sale,1.626048e+12,169900.0,74.0,Waycross,GA,1985,103 Hog Creek Rd,31503.0,-82.232475,31.200703,0,"""Looking for life in the country? Well look n...",USD,2302.0,2302.0,Acres,3.0,4.0,0.0,0,0.0,0,0,0,0,0,0,SINGLE_FAMILY,Brantley County
1,1,31503-76611082,16,18,55064,USA,2021-07-12,0,0,Listed for sale,1.626048e+12,159000.0,56.0,Waycross,GA,1910,605 Ware St,31503.0,-82.365105,31.213835,0,"""Take a step back in time with this beautiful ...",USD,2864.0,2864.0,sqft,2.0,4.0,0.0,0,0.0,0,0,0,0,0,0,SINGLE_FAMILY,Ware County
2,2,31503-93126153,16,19,55064,USA,2021-07-10,0,0,Listed for sale,1.625875e+12,45000.0,62.0,Waycross,GA,1945,1961 Mount Pleasant Rd,31503.0,-82.327118,31.210838,0,This may be the investment property for you! ...,USD,728.0,728.0,Acres,1.0,1.0,0.0,1,0.0,0,0,0,0,0,0,SINGLE_FAMILY,Ware County
3,3,31503-110785598,16,20,55064,USA,2021-07-09,0,0,Listed for sale,1.625789e+12,165000.0,102.0,Waycross,GA,1971,39 Joyce Rd,31503.0,-82.231300,31.169851,0,"""This one-owner ranch-style home has a new A/C...",USD,1620.0,1620.0,Acres,2.0,2.0,0.0,0,0.0,0,0,0,0,0,0,SINGLE_FAMILY,Brantley County

#### 3. Display the 3 random rows of the DataFrame `df`.

In [42]:
df.sample(3)

,Unnamed: 0,id,stateId,countyId,cityId,country,datePostedString,is_bankOwned,is_forAuction,event,time,price,pricePerSquareFoot,city,state,yearBuilt,streetAddress,zipcode,longitude,latitude,hasBadGeocode,description,currency,livingArea,livingAreaValue,lotAreaUnits,bathrooms,bedrooms,buildingArea,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
5791,5791,30105-2070341781,16,198789,10176,USA,2021-06-09,0,0,Listed for sale,1.623024e+12,550000.0,0.0,Armuchee,GA,1900,0 Everett Springs Rd NE,30105.0,-85.116318,34.493355,0,"""JUST LISTED 146.9 ACRES. This gated SPORTSMAN...",USD,0.0,0.0,Acres,2.0,3.0,0.0,0,0.0,0,One,0,0,0,0,LOT,Floyd County
2460,2460,30016-2112059170,16,95156,38047,USA,2021-06-22,0,0,Price change,1.625702e+12,77999.0,0.0,Covington,GA,0,0 Bethany Rd,30016.0,-83.916977,33.565647,0,"""This beautiful 6.74 acre property in the Covi...",USD,0.0,0.0,Acres,0.0,0.0,0.0,0,0.0,0,0,0,0,0,0,LOT,Newton County
3191,3191,31316-2085708638,16,113241,15510,USA,2021-03-23,0,0,Listed for sale,1.616458e+12,44900.0,0.0,Ludowici,GA,0,75 S McDonald St,31316.0,-81.745445,31.712425,0,.45 of an Acre inside the City Limits of Ludow...,USD,0.0,0.0,Acres,0.0,0.0,0.0,0,0.0,0,0,0,0,0,0,LOT,Long County

#### 4. Display the 2 random rows of the DataFrame `df`. Make sure that the rows stay the same if one reruns this cell.

In [43]:
df.sample(2, random_state=69)

,Unnamed: 0,id,stateId,countyId,cityId,country,datePostedString,is_bankOwned,is_forAuction,event,time,price,pricePerSquareFoot,city,state,yearBuilt,streetAddress,zipcode,longitude,latitude,hasBadGeocode,description,currency,livingArea,livingAreaValue,lotAreaUnits,bathrooms,bedrooms,buildingArea,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
8943,8943,30041-2069616426,16,295321,44821,USA,2021-07-10,0,0,Listed for sale,1.625875e+12,11500.0,0.0,Cumming,GA,0,0 Phoenix St,30041.0,-84.092270,34.219387,0,Build your dream home by Lake Lanier! This bea...,USD,0.0,0.0,sqft,0.0,0.0,0.0,0,0.0,0,0,0,0,0,0,LOT,Forsyth County
12771,12771,30228-2069930569,16,84217,29242,USA,2021-06-28,0,0,Listed for sale,1.624838e+12,245400.0,175.0,Hampton,GA,2022,11934 Lovejoy Crossing Blvd #268,30228.0,-84.309479,33.429974,0,House to be built. Call Agent . Please see vi...,USD,1400.0,1400.0,sqft,2.0,3.0,1400.0,1,0.0,1,One,0,0,1,0,SINGLE_FAMILY,Clayton County

#### 5. How many row and columns are in the dataset?

In [44]:
rows, cols = df.shape
print(f"Number of Rows: {rows}, Number of Columns: {cols}")

Number of Rows: 13804, Number of Columns: 39

#### 6. Print list of column names.

In [45]:
print(df.columns.tolist())

['Unnamed: 0', 'id', 'stateId', 'countyId', 'cityId', 'country', 'datePostedString', 'is_bankOwned', 'is_forAuction', 'event', 'time', 'price', 'pricePerSquareFoot', 'city', 'state', 'yearBuilt', 'streetAddress', 'zipcode', 'longitude', 'latitude', 'hasBadGeocode', 'description', 'currency', 'livingArea', 'livingAreaValue', 'lotAreaUnits', 'bathrooms', 'bedrooms', 'buildingArea', 'parking', 'garageSpaces', 'hasGarage', 'levels', 'pool', 'spa', 'isNewConstruction', 'hasPetsAllowed', 'homeType', 'county']

Ensure you understand the meaning of each column! This may require getting hands-on with the data - exploring it thoroughly and even opening the CSV file in Excel for a clearer view.

#### 7. What is `Unnamed: 0` column? Can we delete it without losing essential information? Why?

The Unnamed: 0 column usually appears when a CSV or data file is loaded, and it refers to the index column that was written into the file. This can happen when a DataFrame has an explicit index of a row of numbers or labels, but the file was saved with that index as an additional column, which is then labeled as Unnamed: 0. 

tldr - We can delete the Unnamed: 0 column without losing any essential information because it's just an extra index column that was carried over from the original DataFrame's index.

#### 8. Delete column `Unnamed: 0`.

In [46]:
df = df.drop(columns=['Unnamed: 0'])

#### 9. Display a summary of the basic information for the numerical features in this DataFrame.
*You don't need to do anything for this task as it has already been completed. Simply run cells.*

In [47]:
pd.options.display.max_columns = None # Use this option to display all columns
df.describe().style.format("{:.1f}")  # I use .style.format("{:.1f}") to make the output more concise

Review the summary table above and ensure you understand the meaning of each row (e.g., standard deviation, 25th percentile). Then, carefully examine each column to grasp what is happening in the data.

Notice that by default `df.describe()` provides a summary **only for numerical columns**, which is equivalent to `df.select_dtypes(include=['number']).describe()`. To summarize **categorical columns**, use `df.select_dtypes(include=['object', 'category']).describe()`.

**Categorical Data Types in Pandas**:
- **`object`**  Often used for text-based categorical data.
- **`category`**  Optimized for categorical variables, using less memory and enabling faster operations.

#### 10. Display a summary of the basic information for the categorical features in this DataFrame.
*You don't need to do anything for this task as it has already been completed. Simply run cells.*

In [48]:
df.select_dtypes(include=['object', 'category']).describe()

,id,country,datePostedString,event,city,state,streetAddress,description,currency,lotAreaUnits,levels,homeType,county
count,13804,13804,13803,13785,13804,13804,13804,13705,13804,13804,13804,13804,13804
unique,12546,1,391,5,536,1,12452,12106,1,2,41,5,149
top,30161-76431604,USA,2021-06-25,Listed for sale,Atlanta,GA,Coming Soon Plan,Great Lot in Shadowmoor Subdivision to build y...,USD,Acres,0,SINGLE_FAMILY,Fulton County
freq,2,13804,2103,9520,1031,13804,30,13,13804,9797,6524,8111,1168

Review the summary table above and ensure you understand the meaning of each row (e.g., unique, top, freq). Then, carefully examine each column to grasp what is happening in the data.

#### 11. Print number of unique values in each column of the DataFrame

In [49]:
df.nunique()

id                    12546
stateId                   1
countyId              13697
cityId                  519
country                   1
datePostedString        391
is_bankOwned              2
is_forAuction             2
event                     5
time                    577
price                  2459
pricePerSquareFoot      544
city                    536
state                     1
yearBuilt               168
streetAddress         12452
zipcode                 604
longitude             12250
latitude              12381
hasBadGeocode             1
description           12106
currency                  1
livingArea             3137
livingAreaValue        3137
lotAreaUnits              2
bathrooms                17
bedrooms                 18
buildingArea           2786
parking                   2
garageSpaces              9
hasGarage                 2
levels                   41
pool                      2
spa                       2
isNewConstruction         2
hasPetsAllowed            2
homeType                  5
county                  149
dtype: int64

#### 12. Some columns contain only a single unique value. Which ones? Print their names. Then, delete all such columns and explain why removing them makes sense.

In [50]:
single_unique = df.columns[df.nunique() == 1]
print("Columns with a single unique value:", single_unique)

df = df.drop(columns=single_unique)

Columns with a single unique value: Index(['stateId', 'country', 'state', 'hasBadGeocode', 'currency'], dtype='object')

Removing these columns with only one unique value could make sense if there is no meaningful variation within the data, i.e. it doesn't help in any analysis or model building. It is also redundant to keep a columns that add no new information because it has the risk of adding noise or unnecessary data to your dataset. We also strive to have smaller datasets as they are more manageable to handle.

#### 13. Run the code cell below. Are the results the same or different? If they differ, explain why.

In [51]:
print((df['livingArea'] == df['livingAreaValue']).all())
print(df['livingArea'].equals(df['livingAreaValue']))

True
True

The two methods check if two columns are identical, but in different ways. The first method compares values element-wise and checks if all are equal. The second method checks both the values and the indices, returning True only if both match exactly.

#### 14. Display a summary of the numerical features again. Identify any columns with identical statistics. If such columns exist, verify whether they are true duplicates and keep only the first occurrence, removing all others.

In [54]:
summary = df.describe()
duplicate_columns = summary.T[summary.T.duplicated()].index
df = df.drop(columns=duplicate_columns)
print("Duplicate columns removed:", duplicate_columns)

Duplicate columns removed: Index([], dtype='object')

#### 15. Identify all columns that contain exactly two unique values in the DataFrame and retrieve the unique values present in each of them.
*You don't need to do anything for this task as it has already been completed. Simply run cells.*

In [55]:
df.loc[:, df.nunique() == 2].apply(pd.unique)

,is_bankOwned,is_forAuction,lotAreaUnits,parking,hasGarage,pool,spa,isNewConstruction,hasPetsAllowed
0,0,0,Acres,0,0,0,0,0,0
1,1,1,sqft,1,1,1,1,1,1

Learn how `.apply()` method works!

#### 16. Something is wrong with `time`. 

The column `time` contains strange numbers. Convert it into a readable datetime format. Keep in mind that the dataset contains property information from 2021.  

Refer to the [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) for `to_datetime()` for guidance. Play with the parameter `unit`.

In [56]:
df['time'] = pd.to_datetime(df['time'], unit='ms')
print(df['time'].head())

0   2021-07-12
1   2021-07-12
2   2021-07-10
3   2021-07-09
4   2021-07-06
Name: time, dtype: datetime64[ns]

#### 17. Is there another column contains the same time-related information.

No I don't see any other column with the same time-related information.

#### 18. Let's check for missing values in each column

In [57]:
missing_values = df.isnull().sum()

print("Missing values per column:")
print(missing_values)

Missing values per column:
id                     0
countyId               0
cityId                 0
datePostedString       1
is_bankOwned           0
is_forAuction          0
event                 19
time                  19
price                  0
pricePerSquareFoot     0
city                   0
yearBuilt              0
streetAddress          0
zipcode                0
longitude              0
latitude               0
description           99
livingArea             0
lotAreaUnits           0
bathrooms              0
bedrooms               0
buildingArea           0
parking                0
garageSpaces           0
hasGarage              0
levels                 0
pool                   0
spa                    0
isNewConstruction      0
hasPetsAllowed         0
homeType               0
county                 0
dtype: int64

#### 19. Can the missing values in the `time` column be inferred from other available data? If so, fill in the missing values appropriately.

In [58]:
df['datePostedString'] = pd.to_datetime(df['datePostedString'], errors='coerce')
df['time'] = df['time'].fillna(df['datePostedString'])

#### 20. Delete columns `datePostedString` and `description`

In [59]:
df = df.drop(columns=['datePostedString', 'description'])
print(df.columns)

Index(['id', 'countyId', 'cityId', 'is_bankOwned', 'is_forAuction', 'event',
       'time', 'price', 'pricePerSquareFoot', 'city', 'yearBuilt',
       'streetAddress', 'zipcode', 'longitude', 'latitude', 'livingArea',
       'lotAreaUnits', 'bathrooms', 'bedrooms', 'buildingArea', 'parking',
       'garageSpaces', 'hasGarage', 'levels', 'pool', 'spa',
       'isNewConstruction', 'hasPetsAllowed', 'homeType', 'county'],
      dtype='object')

#### 21. Print rows where any value is missing, displaying only the columns: `event`, `time`, and `city`.

In [60]:
missing_values_rows = df[df.isnull().any(axis=1)][['event', 'time', 'city']]
print(missing_values_rows)

      event       time           city
498     NaN 2021-03-25        Atlanta
727     NaN 2021-07-13       Savannah
744     NaN 2021-07-09       Savannah
752     NaN 2021-07-08       Savannah
3982    NaN 2021-06-07       Juliette
4317    NaN 2021-07-09         Guyton
5227    NaN 2021-07-09      Hiawassee
6258    NaN 2021-07-02        Atlanta
7237    NaN 2021-05-20    Thomasville
7340    NaN 2021-06-15  Sandy Springs
7681    NaN 2021-06-25        Clayton
8819    NaN 2021-07-07       Savannah
10323   NaN 2021-07-01         Baxley
10393   NaN 2021-07-02    Adairsville
10837   NaN 2021-07-13       Savannah
10854   NaN 2021-07-09       Savannah
13058   NaN 2021-06-29          Tiger
13297   NaN 2021-07-09      Kingsland
13639   NaN 2021-06-07       Juliette

#### 22. Change all values `NaN` in the `event` column to `Unknown`

In [62]:
df['event'] = df['event'].fillna('Unknown')

#### 23. Do we still have missing values?

It appears that we no longer have any explicit missing values (NaN). However, missing data can sometimes be represented by zeros. Identify all columns where this might be the case.

In [63]:
zero_values = (df == 0).sum()
print("Columns with potential missing data represented by zeros:")
print(zero_values[zero_values > 0])

Columns with potential missing data represented by zeros:
cityId                  911
is_bankOwned          13802
is_forAuction         13798
price                    49
pricePerSquareFoot     5432
yearBuilt              4423
livingArea             5397
bathrooms              4697
bedrooms               4682
buildingArea           7359
parking                7450
garageSpaces          10542
hasGarage              8906
pool                  13053
spa                   12966
isNewConstruction     13172
hasPetsAllowed        13751
dtype: int64

#### 24. In all those columns replace zeros with `NaN`s

In [66]:
columns_with_zeros = ['cityId', 'is_bankOwned', 'is_forAuction', 'price', 'pricePerSquareFoot', 
                      'yearBuilt', 'livingArea', 'bathrooms', 'bedrooms', 'buildingArea', 
                      'parking', 'garageSpaces', 'hasGarage', 'pool', 'spa', 'isNewConstruction', 
                      'hasPetsAllowed']

df[columns_with_zeros] = df[columns_with_zeros].replace(0, np.nan)
print(df[columns_with_zeros].head())

    cityId  is_bankOwned  is_forAuction     price  pricePerSquareFoot  \
0  55064.0           NaN            NaN  169900.0                74.0
1  55064.0           NaN            NaN  159000.0                56.0
2  55064.0           NaN            NaN   45000.0                62.0
3  55064.0           NaN            NaN  165000.0               102.0
4  55064.0           NaN            NaN  128593.0                 NaN

   yearBuilt  livingArea  bathrooms  bedrooms  buildingArea  parking  \
0     1985.0      2302.0        3.0       4.0           NaN      NaN
1     1910.0      2864.0        2.0       4.0           NaN      NaN
2     1945.0       728.0        1.0       1.0           NaN      1.0
3     1971.0      1620.0        2.0       2.0           NaN      NaN
4        NaN         NaN        NaN       NaN           NaN      NaN

   garageSpaces  hasGarage  pool  spa  isNewConstruction  hasPetsAllowed
0           NaN        NaN   NaN  NaN                NaN             NaN
1           NaN        NaN   NaN  NaN                NaN             NaN
2           NaN        NaN   NaN  NaN                NaN             NaN
3           NaN        NaN   NaN  NaN                NaN             NaN
4           NaN        NaN   NaN  NaN                NaN             NaN

#### Can we reliably infer missing `cityId` values using `city`?

To answer such question, we need to understand a few things.

#### 25. Do all cities have unique `cityId`? Find cities wuth multiple IDs if any.

In [67]:
city_id_counts = df.groupby('city')['cityId'].nunique()
cities_with_multiple_ids = city_id_counts[city_id_counts > 1]
print("Cities with multiple cityIds:")
print(cities_with_multiple_ids)

Cities with multiple cityIds:
city
Acworth         4
Adairsville     2
Adel            2
Ailey           2
Alamo           3
               ..
Woodbine        2
Woodstock       2
Wrens           2
Wrightsville    2
Zebulon         3
Name: cityId, Length: 237, dtype: int64

#### 26. Does every city have at least one `cityId`? Identify any cities without a `cityId` if they exist.

In [68]:
cities_without_city_id = df[df['cityId'].isnull()]['city'].unique()
print("Cities without a cityId:")
print(cities_without_city_id)

Cities without a cityId:
['Atlanta' 'Doraville' 'Upatoi' 'Hogansville' 'Bishop' 'Mitchell' 'Waco'
 'Macon' 'Decatur' 'Chamblee' 'Covington' 'Claxton' 'Register' 'Uvalda'
 'Hazlehurst' 'Jekyll Island' 'Cohutta' 'Stephens' 'White' 'Crawfordville'
 'Stockbridge' 'Snellville' 'Sautee Nacoochee' 'Scottdale' 'Box Springs'
 'Buford' 'Rabun Gap' 'Mountain City' 'Midway' 'Hull' 'Martin' 'Tucker'
 'Milner' 'Danielsville' 'Colbert' 'Gray' 'Union Point' 'Union Pt'
 'Dry Branch' 'Reidsville' 'Metter' 'South Fulton' 'College Park'
 'Union City' 'Lake Park' 'Danville' 'Ball Ground' 'Alpharetta' 'Cumming'
 'Savannah' 'Commerce' 'Sylvania' 'Buchanan' 'Good Hope' 'Griffin'
 'Grayson' 'Unadilla' 'Newington' 'Columbus' 'Folkston' 'Jonesboro'
 'Riverdale' 'Forsyth' 'Franklin' 'Locust Grove' 'Hahira' 'Homerville'
 'Dillard' 'Rex' 'Elberton' 'Baxley' 'Vienna' 'Pooler' 'Cartersville'
 'Lexington' 'Royston' 'Canon' 'Monroe' 'Clayton' 'Morrow' 'Norman park'
 'Norman Park' 'Dewy Rose' 'Ellenwood' 'Marietta' 'Soperton' 'Hampton'
 'Hephzibah' 'Barnesville' 'Rossville' 'Blythe' 'Bartow' 'Swainsboro'
 'Gibson' 'Maysville' 'Avondale Estates' 'Harrison' 'Riceboro' 'Adrian'
 'Dublin' 'Watkinsville' 'Lithia Springs' 'Mauk' 'Tate' 'Comer'
 'Adairsville' 'Richland' 'Hoschton' 'Carnesville' 'Bremen' 'Lumpkin'
 'Tallapoosa' 'Jefferson' 'Roopville' 'Cleveland' 'Rydal' 'Palmetto'
 'Jasper' 'Twin City' 'Byromville' 'Talmo' 'Midville' 'Gordon' 'Resaca'
 'Chatsworth']

#### 27. Replace `NaN` values in the `cityId` column with the corresponding `cityId` for cities that have a unique `cityId`. Report how many missing values where in the `cityId` column before and after the replacement.

In [69]:
missing_before = df['cityId'].isnull().sum()

for city in df['city'].unique():
    city_ids = df[df['city'] == city]['cityId'].dropna().unique()
    if len(city_ids) == 1:
        city_id = city_ids[0]
        df.loc[(df['city'] == city) & (df['cityId'].isnull()), 'cityId'] = city_id

missing_after = df['cityId'].isnull().sum()

print(f"Missing values in 'cityId' before replacement: {missing_before}")
print(f"Missing values in 'cityId' after replacement: {missing_after}")

Missing values in 'cityId' before replacement: 911
Missing values in 'cityId' after replacement: 689

#### Whew! That was a challenge, but now it's time for a few more tweaks and discoveries.

#### 28. Identify all columns that contain exactly two distinct values and convert them to categorical.
*You don't need to do anything for this task as it has already been completed. Simply run cells.*

In [70]:
binary_cols = df.columns[df.nunique() == 2]
df[binary_cols] = df[binary_cols].astype('category')

#### 29. It makes sense to convert the columns `countyId`, `cityId`, and `zipcode` into categorical. Apply the conversion.

In [71]:
df['countyId'] = df['countyId'].astype('category')
df['cityId'] = df['cityId'].astype('category')
df['zipcode'] = df['zipcode'].astype('category')
print(df.dtypes)

id                            object
countyId                    category
cityId                      category
is_bankOwned                 float64
is_forAuction                float64
event                         object
time                  datetime64[ns]
price                        float64
pricePerSquareFoot           float64
city                          object
yearBuilt                    float64
streetAddress                 object
zipcode                     category
longitude                    float64
latitude                     float64
livingArea                   float64
lotAreaUnits                category
bathrooms                    float64
bedrooms                     float64
buildingArea                 float64
parking                      float64
garageSpaces                 float64
hasGarage                    float64
levels                        object
pool                         float64
spa                          float64
isNewConstruction            float64
hasPetsAllowed               float64
homeType                      object
county                        object
dtype: object

#### 30. Determine if there are any duplicate rows in the DataFrame. If duplicates exist, remove them, keeping only the first occurrence.

In [73]:
df = df.drop_duplicates()
print(f"Number of rows after removing duplicates: {len(df)}")

Number of rows after removing duplicates: 13804

#### 31. Display a summary of the basic information for numerical, categorical and object features in this DataFrame.

In [74]:
print("Numerical Features Summary:")
print(df.describe())

Numerical Features Summary:
       is_bankOwned  is_forAuction                           time  \
count           2.0            6.0                          13804
mean            1.0            1.0  2021-05-08 05:54:53.306287872
min             1.0            1.0            1978-01-01 00:00:00
25%             1.0            1.0            2021-06-10 00:00:00
50%             1.0            1.0            2021-07-05 00:00:00
75%             1.0            1.0            2021-07-10 00:00:00
max             1.0            1.0            2021-07-14 00:00:00
std             0.0            0.0                            NaN

              price  pricePerSquareFoot    yearBuilt     longitude  \
count  1.375500e+04         8372.000000  9381.000000  13804.000000
mean   3.684050e+05          192.553153  1982.731692    -83.776647
min    1.000000e+01            2.000000  1790.000000    -85.583374
25%    9.800000e+04          109.000000  1963.000000    -84.456619
50%    2.490000e+05          146.000000  1989.000000    -84.071148
75%    4.250000e+05          198.000000  2005.000000    -83.358637
max    3.050400e+07       205000.000000  9999.000000    -80.841385
std    6.486163e+05         2241.605651    88.417259      1.050670

           latitude    livingArea    bathrooms     bedrooms  buildingArea  \
count  13804.000000  8.407000e+03  9107.000000  9122.000000   6445.000000
mean      33.345807  3.052202e+03     2.846711     3.554155   2520.895112
min       30.626259  1.000000e+00     1.000000     1.000000      1.000000
25%       32.623352  1.440000e+03     2.000000     3.000000   1465.000000
50%       33.700008  2.030000e+03     3.000000     3.000000   2099.000000
75%       34.038973  2.930000e+03     3.000000     4.000000   3026.000000
max       34.993996  5.057316e+06    89.000000    89.000000  87120.000000
std        1.060855  5.516349e+04     1.623393     1.496835   1912.554728

       parking  garageSpaces  hasGarage   pool    spa  isNewConstruction  \
count   6354.0   3262.000000     4898.0  751.0  838.0              632.0
mean       1.0      2.066830        1.0    1.0    1.0                1.0
min        1.0      1.000000        1.0    1.0    1.0                1.0
25%        1.0      2.000000        1.0    1.0    1.0                1.0
50%        1.0      2.000000        1.0    1.0    1.0                1.0
75%        1.0      2.000000        1.0    1.0    1.0                1.0
max        1.0      8.000000        1.0    1.0    1.0                1.0
std        0.0      0.627351        0.0    0.0    0.0                0.0

       hasPetsAllowed
count            53.0
mean              1.0
min               1.0
25%               1.0
50%               1.0
75%               1.0
max               1.0
std               0.0

In [75]:
print("\nCategorical Features Summary:")
print(df.select_dtypes(include=['category']).describe())

Categorical Features Summary:
        countyId   cityId  zipcode lotAreaUnits
count      13804  13115.0  13804.0        13804
unique     13697    518.0    604.0            2
top        42848  37211.0  30165.0        Acres
freq           2    731.0     78.0         9797

In [76]:
print("\nObject Features Summary:")
print(df.select_dtypes(include=['object']).describe())

Object Features Summary:
                    id            event     city     streetAddress levels  \
count            13804            13804    13804             13804  13804
unique           12546                6      536             12452     41
top     30161-76431604  Listed for sale  Atlanta  Coming Soon Plan      0
freq                 2             9520     1031                30   6524

             homeType         county
count           13804          13804
unique              5            149
top     SINGLE_FAMILY  Fulton County
freq             8111           1168

#### 32.  What interesting findings can you get from these tables and what question can you ask? Name two.

Below are some examples:

**Finding 1:**  The binary feature `is_bankOwned` has only two values:
- 0 (Not Bank-Owned): 13,802 properties  
- 1 (Bank-Owned): Only 2 properties  

**Question:** Why is this the case? Is it due to missing data, dataset bias, or other factors?  

---

**Finding 2:**  The feature `pricePerSquareFoot` has an extreme outlier $205,000 per square foot.  
- The total price of this property is also $205,000, which strongly suggests a data entry error.  

**Question:** Are there any other similar errors in the dataset?

### Finding 3: The `event` column has only 6 unique values.
- **Top value** ("Listed for sale") appears 9,520 times.
- Other events like "Price change" and "Coming Soon" have significantly fewer occurrences.

#### Question:
- Why is "Listed for sale" so dominant?
- Could this indicate that most properties are newly listed for sale, and fewer events like "Price change" or "Sold" are included in the dataset? Or is the dataset incomplete in terms of event types?

---

### Finding 4: The `zipcode` column has 604 unique zip codes, but only 518 unique city IDs.
- This shows that many cities have multiple zip codes, but the number of unique `cityId` values is much smaller.

#### Question:
- Do some zip codes correspond to multiple cities, or are cities that share zip codes incorrectly grouped together?
- Is there any misclassification of city and zip code pairings in the dataset?